"*":
  "exception-reporting":
    userId: "cf001112-7aaf-95e4-e1b8-764cdac1e579"
  welcome:
    showOnStartup: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "wrap-guide"
      "archive-view"
      "background-tips"
      "image-view"
      "spell-check"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    fontFamily: "Consolas"
    fontSize: 20
  autosave:
    enabled: true
  "autohide-tree-view": {}
  "tree-view": {}
  "recent-finder": {}
  "one-dark-ui": {}
  "atom-beautify":
    _analyticsUserId: "060e9cc3-ce26-4fbf-a7d2-e2d32252dc0b"
  "expand-region": {}
  "find-and-replace":
    scrollToResultOnLiveSearch: true
