'.platform-win32, .platform-linux':
  'alt-l': 'tree-view:toggle'

'.platform-win32, .platform-win32 .command-palette atom-text-editor':
  'ctrl-p': 'command-palette:toggle'

'.platform-win32':
  'ctrl-n': 'fuzzy-finder:toggle-file-finder'
  'ctrl-t': 'application:new-file'

'.platform-win32 atom-text-editor':
  'ctrl-e': 'recent-finder:toggle'

'atom-text-editor':
  'alt-q': 'atom-beautify:beautify-editor'
  'ctrl-=': 'expand-region:expand'
  'ctrl-+': 'expand-region:shrink'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'alt-insert': 'advanced-open-file:toggle'

'atom-workspace':
  'ctrl--': 'last-cursor-position:previous'
  'ctrl-_': 'last-cursor-position:next'
